<div class="main-container" [ngClass]="{ dark: isNight }">
    <div class="container">
        <img class="foto" src="assets/images/imagen_minibio.jpeg" alt="Noelia Hernández" />
        <h1 class="h1">Noelia Hernández</h1>
        <p class="p">
            Full Stack Developer en proceso...
            <br /> Aquí puedes encontrarme ⬇️
        </p>
        <div class="socialBox">
            <a href="{{ social.link }}" *ngFor="let social of socialNetwork" target="_blank" class="link-box">
                <div class="left-item">
                    <!-- <p>{{ social.img }}</p> -->
                    <fa-icon [icon]="social.img"></fa-icon>
                </div>
                <div class="right-item">
                    <p>{{ social.text }}</p>
                </div>
            </a>
        </div>
    </div>
</div>

<button class="btn-change" type="button" (click)="changeMode()">
  Cambiar modo
</button>