<div class="main-container" [ngClass]="{ dark: isNight == true }">
    <div class="container">
        <div id="container">
            <div>
                <img class="foto" src="assets/images/imagen_minibio.jpeg" alt="Noelia Hernández" />
            </div>
            <h1>Noelia Hernández</h1>
            <p>
                Full Stack Developer en proceso...
                <br /> Aquí puedes encontrarme ⬇️
            </p>
            <div class="socialBox">
                <a href="{{ social.link }}" target="_blank" *ngFor="let social of socialNetwork" class="link-box">
                    <div class="left-item">
                        <!-- <p>{{ social.img }}</p> -->
                        <fa-icon [icon]="social.img"></fa-icon>
                    </div>
                    <div class="right-item">
                        <p>{{ social.text }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <button class="btn-change" type="button" (click)="changeMode()">
    <fa-icon [icon]="btnNightMode"></fa-icon>
  </button>
</div>